body{
  margin: 0;
}
h1{
  font-family: 'Kanit', sans-serif;
  font-size: 4rem;
}
.top-container p{
  font-size: 2rem;
}
h2{
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem;
}
h3{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 2rem;
}
p{
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}
a{
    font-family: 'Roboto', sans-serif;
}
hr{
  border-style: dotted none none none;
  border-width: 5px;
  width: 10%;
}
.programming-img{
  float: right;
  width: 40%;
  margin-right: 10%;
}
.programming2-img{
  float: left;
  width: 40%;
  margin-right: 10%;
}
.top-img{
  width: 30%;
  margin: 1%;
}
.skill-row{
  margin: 7% auto;
  text-align: left;
  width: 80%;
}

.top-container{
  padding: 30px;
  background-color: #6F69AC;
  text-align: center;

}
.profile{
  margin: auto;
  padding: 50px;
  background-color: #95DAC1;
  text-align: center;
}
.profile-img{
  width: 15rem;
}
.skills{
  padding: 50px;
  background-color: #FFEBA1;
  text-align: center;
}
.bottom-container{
  background-color: #555555;
  text-align: center;
  padding: 50px;
}
.footer-link{
  margin: 0 30px;
  text-decoration: none;
  color: #CDC9C3;

}
.footer-link:hover{
  color: #FBF7F0;
}
.credit{
  color: #CDC9C3;
  font-size: 20px;
}
.contact-me{
  padding: 50px;
  background-color: #FD6F96;
  text-align: center;
}
.contact-message{
  margin: auto auto 50px auto;
  width: 25%;
}
.bottom-container{

  padding: 50px;
  text-align: center;
}
.button-contact {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 19px;
   line-height: 19px;
   color: #FFFFFF;
   font-family: Trebuchet MS;
   width: 187px;
   font-size: 35px;
   font-weight: 900;
   padding: 40px;
   background-color: #FFEBA1;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.button-contact:hover {
   background: #FD6F96;
   border: solid #FD6F96 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
